<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjyouth.dao.LogisticsMapper" >
  <resultMap id="BaseResultMap" type="com.zjyouth.pojo.Logistics" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="logistics_company" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="logistics_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="logistics_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="logistics_detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, logistics_company, logistics_code, logistics_no, logistics_detail, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from mmall_logistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mmall_logistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjyouth.pojo.Logistics"   useGeneratedKeys="true" keyProperty="id"   >
    insert into mmall_logistics (id, logistics_company, logistics_code,
    logistics_no, logistics_detail, create_time,
    update_time)
    values (#{id,jdbcType=INTEGER}, #{logisticsCompany,jdbcType=VARCHAR}, #{logisticsCode,jdbcType=VARCHAR},
    #{logisticsNo,jdbcType=VARCHAR}, #{logisticsDetail,jdbcType=VARCHAR}, now(),
    now())
  </insert>
  <insert id="insertSelective" parameterType="com.zjyouth.pojo.Logistics" >
    insert into mmall_logistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="logisticsCompany != null" >
        logistics_company,
      </if>
      <if test="logisticsCode != null" >
        logistics_code,
      </if>
      <if test="logisticsNo != null" >
        logistics_no,
      </if>
      <if test="logisticsDetail != null" >
        logistics_detail,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="logisticsCompany != null" >
        #{logisticsCompany,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCode != null" >
        #{logisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNo != null" >
        #{logisticsNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsDetail != null" >
        #{logisticsDetail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjyouth.pojo.Logistics" >
    update mmall_logistics
    <set >
      <if test="logisticsCompany != null" >
        logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCode != null" >
        logistics_code = #{logisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNo != null" >
        logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsDetail != null" >
        logistics_detail = #{logisticsDetail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjyouth.pojo.Logistics" >
    update mmall_logistics
    set logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      logistics_code = #{logisticsCode,jdbcType=VARCHAR},
      logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      logistics_detail = #{logisticsDetail,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>